:root {
  --color-white: #FFFFFF;
  --color-purple: #A729F5;
  --color-navy: #3B4D66;
  --color-dark-navy: #313E51;
  --color-grey-navy: #626C7F;
  --color-light-bluish: #ABC1E1;
  --color-light-grey: #F4F6FA;
  --color-green: #26D782;
  --color-red: #EE5454;
  --color-blue: #306AFF;
  --color-orange: #FF7E35;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#root {
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Bellefair", serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  height: 100%;
  min-height: 100dvh;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  font-family: "Bellefair", serif;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

section,
article,
header,
footer,
nav,
aside {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;

  @media (min-width: 768px) {
    padding: 0 64px;
  }
}

.app {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 57px;

  @media (min-width: 768px) {
    padding-top: 83px;
    padding-bottom: 100px;
  }
}

.main {
  height: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 768px) {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50%;
  }

  @media (min-width: 1440px) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.heading-s {
  font-size: 28px;
  line-height: 1;
}

.heading-m {
  font-size: 36px;
  line-height: 1.2;
}

.heading-l {
  font-size: 64px;
  line-height: 1;
}

.display {
  font-size: 144px;
  line-height: 1;
}

.body-s {
  font-style: italic;
  font-size: 20px;
  line-height: 1.5;
}

.body-m {
  font-size: 24px;
  line-height: 150%;
}
