.header {
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
    // padding: 0 64px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 48px;
  }
}
